[Unit]
Description=Ensures a set number of plots are always running in phase 1

[Service]
ExecStart=/full/path/to/phasegate
WorkingDirectory=/home/YourUserHere
KillMode=process
